
<h5 class="subtitle mb5">Table With Actions</h5>
<p class="mb20">An example of table with actions in every rows.</p>
<div class="table-responsive">
    <table class="table mb30">
        <thead>
        <tr>
            <th>#</th>
            <th>课程</th>
            <th>类型</th>
            <th>状态</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for chapter in lesson.chapter %}
        <tr>
            <td>#{{ chapter.id }}</td>
            <td><img src="{{ asset(chapter.photo) | imagine_filter('tiny') }}" /> {{ chapter.name }}</td>
            <td>{{ chapter.isFree }}</td>
            <td>{{ chapter.enabled | is_enabled | raw }}</td>
            <td class="table-action">
                <a href="{{ url('create_chapter' , {'lessonId' : chapter.lesson.id , 'chapterId':chapter.id} ) }}"><i class="fa fa-pencil"></i></a>
                <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div><!-- table-responsive -->
