<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>{% block title %}精益云学院{% endblock %}</title>
    {% block stylesheets %}
    <link href="{{ asset('bracket/css/style.default.css') }}" rel="stylesheet">
    <link href="{{ asset('video-js/video-js.css') }}" rel="stylesheet">
    <link href="{{ asset('style/patch.css') }}" rel="stylesheet">
    <link href="{{ asset('style/label.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bracket/css/bootstrap-fileupload.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bracket/css/bootstrap-timepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bracket/css/jquery.tagsinput.css') }}" />
    <link rel="stylesheet" href="{{ asset('bracket/css/colorpicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('bracket/css/dropzone.css') }}" />
    <link rel="stylesheet" href="{{ asset('bracket/css/bootstrap-wysihtml5.css') }}" />
    <link rel="stylesheet" href="{{ asset('fontawesome/css/font-awesome.min.css') }}">
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bracket/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bracket/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>

<!-- Preloader -->
{#<div id="preloader">#}
    {#<div id="status"><i class="fa fa-spinner fa-spin"></i></div>#}
{#</div>#}

<section>
    <div class="leftpanel">
        {% include "AppFrontendBundle:Theme:left.html.twig" %}
    </div>

    <div class="mainpanel">
    <div class="headerbar">

        <a class="menutoggle"><i class="fa fa-bars"></i></a>



        <div class="header-right">
            <ul class="headermenu">
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/photos/loggeduser.png" alt="">
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="{{ url('user_home') }}"><i class="glyphicon glyphicon-user"></i> 个人信息 / 隐私</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ url('dashboard') }}"><i class="glyphicon glyphicon-question-sign"></i> 管理</a></li>
                            {% endif %}
                            <li><a href="{{ url('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> 注销</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="chatview" class="btn btn-default tp-icon chat-icon">
                        <i class="glyphicon glyphicon-comment"></i>
                    </button>
                </li>
            </ul>
        </div><!-- header-right -->

    </div><!-- headerbar -->

    <div class="pageheader">
        <h2><i class="fa fa-user"></i> {% block moduleName %}{% endblock %}</h2>
        <div class="breadcrumb-wrapper">
            <span class="label">你当前的位置:</span>
            <ol class="breadcrumb">
                <li><a href="{{ url('home_page') }}">精益云学院首页</a></li>
                {% block navigation %}{% endblock %}
            </ol>
        </div>
    </div>

    <div class="contentpanel">

        <div class="row">
            {% block body %}{% endblock %}
        </div><!-- row -->


    </div><!-- contentpanel -->

    </div>


    <div class="rightpanel">
        {% if false %}{% include "AppFrontendBundle:Theme:right.html.twig" %}{% endif %}
    </div>



</section>

{% block javascripts %}
    <script src="{{ asset('bracket/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('bracket/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('bracket/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bracket/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('bracket/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bracket/js/toggles.min.js') }}"></script>
    <script src="{{ asset('bracket/js/retina.min.js') }}"></script>
    <script src="{{ asset('bracket/js/jquery.cookies.js') }}"></script>
    <script src="{{ asset('bracket/js/custom.js') }}"></script>
    <script src="{{ asset('video-js/video.js') }}"></script>
    <script src="{{ asset('bracket/js/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('bracket/js/bootstrap-wysihtml5.js') }}"></script>
    <script src="{{ asset('scrollto/lib/jquery-scrollto.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('textarea').wysihtml5(
                    {
                        "font-styles": false,
                        "emphasis": false,
                        "lists": false,
                        "html": false,
                        "link": true,
                        "image": true,
                        "color": false
                    }
            );
        });
    </script>
    <script src="{{ asset('bootbox/bootbox.js') }}"></script>
    {% for type, messages in app.session.flashbag.all() %}
    <script>
        {% for message in messages %}
        bootbox.dialog({
            message: "{{ message }}",
            title: "提醒",
            buttons: {
                success: {
                    label: "确定",
                    className: "btn-success",
                    callback: function() {

                    }
                }
            }
        });
        {% endfor %}
    </script>
    {% endfor %}
    <script>

    </script>

{% endblock %}
<script>
    videojs.options.flash.swf = "{{ asset('video-js/video-js.swf') }}";
</script>
</body>
</html>
