
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>精益云学院 - 一站式精益学习服务开放平台</title>

    <link rel="shortcut icon" href="{{ asset('super/assets/images/yun.ico') }}">

    <!-- Bootstrap itself -->
    <link href="{{ asset('super/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="{{ asset('super/assets/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ asset('super/assets/css/styles.css') }}">

    <!--[if lt IE 9]> <script src="{{ asset('super/assets/js/html5shiv.js') }}"></script> <![endif]-->
</head>

<body>

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 text-center">
                <img src="{{ asset('super/assets/images/logo.png') }}" style="margin-top:20px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}

                {% endif %}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>

            </div>
        </div>

    </div>
</header>
<!-- /Header -->

<footer id="footer" class="jumbotron">
    <section class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <h2>用行动支持我们的产品</h2>
                <p>请分享给你的朋友和同事，让更多学员加入精益云学院。</p>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="{{ asset('super/assets/js/addthis_widget.js') }}"></script>
                <!-- AddThis Button END -->

            </div>
            <div class="col-md-5 col-md-push-1">
                <h2>需要帮助和支持？</h2>
                <p>对我们有任何疑问，可以加入官方的QQ社群:83121455
                </p>
                <p>也可以发送邮件到 <a href="mailto:kefu@jingqi100.com">kefu@jingqi100.com</a> 与我们联系。 </p>

            </div>
        </div>
    </section>
</footer>

<p class="small text-muted text-center">Copyright &copy; 2012-2014.<a href="{{ asset('super/http://gettemplate.com/') }}" rel="designer" title="Free Bootstrap templates">精益云学院</a></p>
<br>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{{ asset('super/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('super/assets/js/template.js') }}"></script>
<script src="{{ asset('super/assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
    $('#myModal').modal(options)
</script>

<style type="text/css">
    .modal-font{
        color: #000;
    }
    .modal-content{
        background: #006699 ;
        background: -moz-linear-gradient(top,  #006699  0%, #0066CC  100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006699 ), color-stop(100%,#0066CC ));
        background: -webkit-linear-gradient(top,  #006699  0%,#0066CC  100%);
        background: -o-linear-gradient(top,  #006699  0%,#0066CC  100%);
        background: -ms-linear-gradient(top,  #006699  0%,#0066CC  100%);
        background: linear-gradient(to bottom,  #006699  0%,#0066CC  100%);
    }
    .modal-header{
        border-bottom: none;
    }
    .modal-footer{
        border-top: none;
        text-align: center;
    }
</style>
</body>
</html>



