{% extends "AppFrontendBundle:Theme:layout.html.twig" %}

{% block moduleName %}课程目录{% endblock %}

{% block body %}
    <div class="contentpanel">

    <div class="row">
    <div class="col-sm-9">
    <div class="row filemanager">



    {% for lesson in lessons %}

    <div class="col-xs-6 col-sm-4 col-md-4 document">
        <div class="thmb">

                <figure class="label top fade" data-label="{{ lesson.category }} : {{ lesson.name }}" style="width: 100%">
                    <img src="{{ asset(lesson.photo) }}" class="img-responsive" style="width: 100%" alt="">
                </figure>

            <h4><a href="{{ url('home_lesson' , {'id' : lesson.id}) }}">{{ lesson.id }} . {{ lesson.name }}</a> {% if lesson.free %}<span class="label label-success">当前免费课程</span>{% endif %}</h4>
        </div><!-- thmb -->
    </div><!-- col-xs-6 -->
    {% endfor %}


    </div><!-- row -->
    </div><!-- col-sm-9 -->
    <div class="col-sm-3">
        <div class="fm-sidebar">

            <div class="mb30"></div>

            <h5 class="subtitle">分类 <a href="{{ url('take_requirements') }}" class="pull-right">+ 我有新需求</a></h5>
            <ul class="folder-list">
                <li><a href="{{ url('home_page') }}"><i class="fa fa-folder-o"></i> 全部课程</a></li>
                {% for category in categories %}
                <li><a href="{{ url('home_page' , {'categoryId':category.id}) }}"><i class="fa fa-folder-o"></i> {{ category.name }}</a></li>
                {% endfor %}
            </ul>

            <div class="mb30"></div>

            <h5 class="subtitle">标签</h5>
        </div>
    </div><!-- col-sm-3 -->
    </div>
    </div>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('bracket/css/prettyPhoto.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bracket/js/jquery.prettyPhoto.js') }}"></script>
<script>
    $(document).ready(function(){
        jQuery('.thmb').hover(function(){
            var t = jQuery(this);
            t.find('.ckbox').show();
            t.find('.fm-group').show();
        }, function() {
            var t = jQuery(this);
            if(!t.closest('.thmb').hasClass('checked')) {
                t.find('.ckbox').hide();
                t.find('.fm-group').hide();
            }
        });

        function enable_itemopt(enable) {
            if(enable) {
                jQuery('.itemopt').removeClass('disabled');
            } else {

                // check all thumbs if no remaining checks
                // before we can disabled the options
                var ch = false;
                jQuery('.thmb').each(function(){
                    if(jQuery(this).hasClass('checked'))
                        ch = true;
                });

                if(!ch)
                    jQuery('.itemopt').addClass('disabled');
            }
        }
        //Replaces data-rel attribute to rel.
        //We use data-rel because of w3c validation issue
        $('a[data-rel]').each(function() {
            jQuery(this).attr('rel', jQuery(this).data('rel'));
        });

        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
    $(function(){

        if( $("div.thmb").length > 0 )
        {
            var maxHeight = 0;
            $("div.thmb").each(function(){
                if ($(this).height() > maxHeight) {
                    maxHeight = $(this).height();
                    console.log(maxHeight);
                }
            });
            $("div.thmb").height(maxHeight);
        }
    });
</script>
{% endblock %}