{% extends "AppFrontendBundle:Theme:layout.html.twig" %}

{% block moduleName %}<i class="fa fa-book"></i> {{ 'first.learning' | trans | raw }}{% endblock %}

{% block navigation %}

    <li><a href="{{ url('home_lesson' , {'id':lesson.id}) }}">{{ 'first.course' | trans | raw }} [ {{ lesson.name }} ] </a></li>

    {% if chapter != NULL %}

        <li><a href="{{ url('home_lesson' , {'id':lesson.id , 'chapterId':chapter.id}) }}"> [ {{ chapter.name }} ] </a></li>

    {% endif %}

{% endblock %}

{% block body %}
<div class="contentpanel">

<div class="row">

<div class="col-md-12">

    <div class="profile-header">
        <h2 class="profile-name">{{ lesson.name }}
            {% if lesson.free %}
                <span class="label label-success">{{ 'first.free_course' | trans | raw }}</span>
            {% endif %}
        </h2>

        <div class="row">
            {% if lesson.free == false %}
                <div class="col-md-1">{{ 'first.price' | trans | raw }}: {{ lesson.price | currency | raw }}</div>
            {% endif %}
            <div class="col-md-1">{{ 'first.period' | trans | raw }}: {{ lesson.chapter | length }}</div>
        </div>

        <div class="mb20"></div>

        {% if lesson.free %}
            <a class="btn btn-success mr5" href="#"><i class="fa fa-user"></i> {{ 'first.free_course' | trans | raw }}</a>
       {% else %}
            <a class="btn btn-success mr5" href="{{ url('payment' , {'lessonId':lesson.id}) }}"><i class="fa fa-user"></i> {{ 'first.purchase' | trans | raw }}</a>
           <a class="btn btn-primary mr5" href="{{ url('cart' , {'lessonId':lesson.id}) }}"><i class="fa fa-shopping-cart"></i> {{ 'first.cart' | trans | raw }}</a>
        {% endif %}




        <a class="btn btn-primary" href="{{ url('home_lesson' , {'id':lesson.id}) }}"><i class="fa fa-reply"></i> {{ 'first.return' | trans | raw }}</a>
    </div>
</div>

<div class="col-sm-3">
    <div class="panel"><div class="panel-body">
    <h3>{{ 'first.introduction' | trans | raw }}</h3>

    <img src="{{ asset(lesson.photo)}}" width="100%" />

    <div class="mb30"></div>

    <h3>{{ 'first.include' | trans | raw }}</h3>

    <ul class="profile-social-list">
    {% if chapter == NULL %}
        {% for key,chapter in lesson.chapter %}

            <li><span class="glyphicon glyphicon-facetime-video"></span> &nbsp;&nbsp;{{ key+1 }}. {{ chapter.name }}</li>

        {% endfor %}
    {% else %}
        {% for key,chapter in lesson.chapter %}

            <li><span class="glyphicon glyphicon-facetime-video"></span> &nbsp;&nbsp;<a class="style" href="{{ url('home_lesson',{'id':lesson.id,'chapterId':chapter.id}) }}">{{ key+1 }}. {{ chapter.name }}</a></li>

        {% endfor %}
    {% endif %}
    </ul>


    </div></div>
</div><!-- col-sm-3 -->
<div class="col-sm-9">
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified nav-profile">
    <li class="active">
        <a href="#activities" data-toggle="tab">
        {% if chapter == NULL %}
            <strong>{{ 'first.play_list' | trans | raw }}</strong>
        {% else %}
            <strong>{{ chapter.name }}</strong>
        {% endif %}
        </a>
    </li>
    <li><a href="#followers" data-toggle="tab"><strong>{{ 'first.information' | trans | raw }}</strong></a></li>
    <li><a href="#following" data-toggle="tab"><strong>{{ 'first.forum' | trans | raw }}</strong></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="activities">
    <div class="activity-list">

    {% if chapter == NULL %}

        {% for key , chapter in lesson.chapter %}
        <div class="media act-media">
            <a class="pull-left" href="#">
                <img class="media-object act-thumb" src="{{ asset(chapter.photo) }}" alt="">
            </a>
            <div class="media-body act-media-body">
                <h3><a class="style" href="{{ url('home_lesson',{'id':lesson.id,'chapterId':chapter.id}) }}">{{ key+1 }}. {{ chapter.name }}</a></h3><br>
                <small class="text-muted">{{ chapter.shortDescription }}</small>
            </div>
        </div><!-- media -->
        {% endfor %}

    {% else %}

        {% if purchase == NULL and lesson.free == NULL %}

            <a class="btn btn-success" href="{{ url('payment' , {'lessonId':lesson.id}) }}">{{ 'first.not_paid_yet' | trans | raw }}</a>

        {% else %}
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%" height="600"
               poster="{{ asset(chapter.photo) }}"
               data-setup="{}">
            <source src="{{ chapter.video }}" type='video/mp4' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>


        <div class="blog-item">
            <a href="blog-single.html" class="blog-img"><img src="images/photos/blog1.jpg" class="img-responsive" alt=""></a>
            <div class="blog-details">
                <h4 class="blog-title"><a href="#">{{ chapter.name }}</a></h4>

                <div class="blog-summary">
                    <p>{{ chapter.content | raw }}</p>
                </div>
            </div>
        </div>
        {% endif %}

    {% endif %}

    </div><!-- activity-list -->
</div>

<div class="tab-pane" id="followers">

    <div class="follower-list">

        <div class="mb20">{{ lesson.description | raw }}</div>

    </div><!--follower-list -->

</div>
<div class="tab-pane" id="following">

    <div class="activity-list">

    </div><!-- activity-list -->

</div>

</div><!-- tab-content -->

</div><!-- col-sm-9 -->
</div><!-- row -->

</div>
{% endblock %}