{% extends "AppFrontendBundle:Theme:layout.html.twig" %}

{% block moduleName %}<i class="fa fa-plus"></i> {{ 'first.requirements' | trans | raw }}{% endblock %}

{% block navigation %}
<li>{{ 'first.requirements' | trans | raw }}</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="panel panel-primary panel-alt">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="#" class="panel-close">×</a>
                    <a href="#" class="minimize">−</a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">{{ 'first.make_better' | trans | raw }}</h3>
                <p>{{ 'first.send_requirements' | trans | raw }}</p>
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div><!-- panel -->
    </div>

    <div class="col-md-4"></div>
</div>


{% endblock %}