<div class="table-responsive">
<table class="table table-email">
<tbody>

<tr>
    {# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(threads, 'Id', 'p.id') }}</th>
    <th></th>
    <th{% if threads.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(threads, '帖子标题', 'p.subject') }}</th>
</tr>

{% for thread in threads if thread.removedAt == null %}
<tr>
    <td>
        #{{ thread.id }}
    </td>
    <td>
        <a href="#" class="star"><i class="glyphicon glyphicon-star"></i></a>
    </td>
    <td>
        <div class="media">
            <a href="#" class="pull-left">

                {% if thread.user.privates %}

                    <img src="{{ thread.user.privates.photo | imagine_filter('avatarTiny') }}" class="media-object">

                {% else %}

                    <img src="{{ asset('photo.png') }}" class="media-object">

                {% endif %}

            </a>
            <div class="media-body">

                <span class="media-meta pull-right">{{ time_diff(thread.createdAt) }}</span>
                <a href="{{ url('thread' , {'id':thread.id} ) }}">
                    <h4 class="text-primary">{{ thread.subject }}</h4>
                </a>
                <small class="text-muted"></small>
                <p class="email-summary">{{ thread.content | striptags | truncate(120) }}</p>
            </div>
        </div>
    </td>
</tr>
{% endfor %}



</tbody>
</table>

    <div class="navigation">
        {{ knp_pagination_render(threads) }}
    </div>

</div><!-- table-responsive -->