{% extends "AppFrontendBundle:Theme:layout.html.twig" %}

{% block moduleName %}{{ 'forum.community' | trans | raw }}{% endblock %}

{% block navigation %}

    <li><a href="{{ url('forum') }}">{{ 'forum.community' | trans | raw }}</a></li>

    {% if wasNotExist is defined %}
        {{ 'forum.post_not_exist' | trans | raw }}
    {% elseif thread.removedAt != null  %}
        {{ 'forum.post_is_deleted' | trans | raw }}
    {% else %}
        <li><a href="{{ url('thread' , {'id':thread.id}) }}">{{ thread.subject }}</a></li>
    {% endif %}



{% endblock %}

{% block body %}
    <div class="contentpanel panel-email">

        <div class="row">
            <div class="col-sm-3 col-lg-2">
                {% block leftLink %}
                    <a class="btn btn-danger btn-block btn-compose-email" href="{{ url('forum') }}#create_new_posts">{{ 'forum.new_post' | trans | raw }}</a>
                {% endblock %}
                <ul class="nav nav-pills nav-stacked nav-email">
                    <li>
                        <a href="{{ url('forum') }}">
                            <i class="glyphicon glyphicon-inbox"></i> {{ 'forum.all_posts' | trans | raw }}
                        </a>
                    </li>
                </ul>
            </div><!-- col-sm-3 -->

            <div class="col-sm-9 col-lg-10">

                <div class="panel panel-default">
                    <div class="panel-body">
                    {% if wasNotExist is defined %}
                        {{ 'forum.post_not_exist' | trans | raw }}
                    {% elseif thread.removedAt != null  %}
                        {{ 'forum.post_is_deleted' | trans | raw }}
                    {% else %}
                        {% include "AppFrontendBundle:Forum:thread_content.html.twig" %}
                    {% endif %}
                    </div><!-- panel-body -->
                </div><!-- panel -->


            </div><!-- col-sm-9 -->

        </div><!-- row -->

    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $('#reply_thread').on('click' , function(){$('#create_new_reply').ScrollTo();});
    </script>
{% endblock %}
