<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>OnlineLean</title>

    <link rel="shortcut icon" href="{{ asset('super/assets/images/yun.ico') }}">

    <!-- Bootstrap itself -->
    <link href="{{ asset('super/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Icons -->
    <link href="{{ asset('super/assets/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ asset('super/assets/css/styles.css') }}">

    <!--[if lt IE 9]> <script src="{{ asset('super/assets/js/html5shiv.js') }}"></script> <![endif]-->
</head>

<body>

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 text-center">
                <img src="{{ asset('super/assets/images/logo.png') }}" style="margin-top:20px;">
                <h1>OnlineLean</h1>
                <h2></h2>
                <p class="lead">
                    Global，Open，Connection，Video，Library，Community
                </p>


                <br>

                <form class="form-inline" role="form">
                    <!-- 					<div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputEmail2" placeholder="用户名"></div>
                                        <div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputPassword2" placeholder="密码"></div>
                     -->
                    <a href="{{ url('fos_user_registration_register') }}" target="_blank" class="btn btn-lg btn-default">Sign Up</a>
                    <a href="{{ url('fos_user_security_login') }}" target="_blank" class="btn btn-lg btn-default">Login</a>
                </form>
                <p class="small text-muted">First time to visit us？ <a class="register_link" href="{{ path('fos_user_registration_register') }}" target="_blank" >Signup</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="illustration">
                    <img src="{{ asset('super/assets/images/ap-screenshot.png') }}" alt="" >
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{{ asset('super/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('super/assets/js/template.js') }}"></script>
<script src="{{ asset('super/assets/js/bootstrap.min.js') }}"></script>

</body>
</html>